{% extends 'stock/base.html' %}
{% load static %}
{% block title %}
Create Profile
{% endblock %}

{% block content %}

<div class="app-title">
    <div>
        <h1><i class="fa fa-bell-o"></i> Create Profile</h1>
    </div>
    <ul class="app-breadcrumb breadcrumb">
    </ul>
</div>
<div class="row">

    <div class="col-md-6">
        <div class="tile">
            <form class="login-form" action="" method="post">
                {% csrf_token %}


                <div class="tile-body">


                    <div class="form-group">
                        <label class="control-label">USERNAME</label>
                        <input class="form-control" type="text" name="username" placeholder="Username" autofocus>

                    </div>
                    <div class="form-group">
                        <label class="control-label">EMAIL ID</label>
                        <input class="form-control" type="email" name="email" placeholder="Email" autofocus>

                    </div>
                    <div class="form-group">
                        <label class="control-label">PASSWORD</label>
                        <input class="form-control" type="password" name="password1" placeholder="Password">

                    </div>

                    <div class="form-group">
                        <label class="control-label">CONFIRM PASSWORD</label>
                        <input class="form-control" type="password" name="password2" placeholder=" Confirm Password">

                    </div>

                    <div class="form-group btn-container">

                    </div>

                </div>
                <div class="tile-footer">
                    <div class="row">
                        <div class="col-md-8 col-md-offset-3">
                            <button class="btn btn-primary" type="submit"><i class="fa fa-fw fa-lg fa-check-circle"></i>Register
                            </button>
                            <!--                    &nbsp;&nbsp;&nbsp;<a class="btn btn-secondary" href="#"><i class="fa fa-fw fa-lg fa-times-circle"></i>Cancel</a>-->
                        </div>
                        <div class="col-md-8 col-md-offset-3">
                            <a href="{% url 'login' %}">login</a>

                        </div>
                    </div>
                </div>
            </form>

        </div>
    </div>

    {% endblock %}

{% block script %}
{{ block.super }}


<script src="https://cdn.jsdelivr.net/npm/sweetalert2@10"></script>

{% if success %}
<script type="text/javascript">

Swal.fire({
  icon: 'success',
<!--  title: 'Oops...',-->
  text: '{{success}}',
  confirmButtonText: `Save`,

}).then((result) => {
  if (result.isConfirmed) {
              window.location = "{% url 'login'%}";

  }

})
</script>

{% endif %}



{% if error %}
<script>
   Swal.fire({
  icon: 'error',
  title: 'Oops...',
  text: '{{error}}',
  confirmButtonText: `Ok`,

}).then((result) => {
  if (result.isConfirmed) {

              window.location = "{% url 'register'%}";

  }

})

</script>
{% endif %}



{% endblock %}
