{% extends 'stock/base.html' %}
{% block title %}
Tag
{% endblock %}

{% block content %}


<div class="app-title">
    <div>
        <h1><i class="fa fa-th-list"></i> All User</h1>
        <!--        <p>Parking exit to display analytical data effectively</p>-->
    </div>
    <ul class="app-breadcrumb breadcrumb side">
        <li class="breadcrumb-item"><i class="fa fa-home fa-lg"></i></li>
        <li class="breadcrumb-item">Tables</li>
        <li class="breadcrumb-item active"><a href="#">Data Table</a></li>
    </ul>
</div>
<div class="row">
    <div class="col-md-12">
        <div class="tile">
            <div class="tile-body">
                <div class="table-responsive">
                    <table class="table table-hover table-bordered" id="sampleTable">
                        <thead>
                        <tr>
                            <th>Tag Name</th>
                            <th>Action</th>

                        </tr>
                        </thead>
                        {% for tag in tag_views %}

                        <tbody>
                        <tr>
                            <td>{{ tag.tag_name }}</td>
                            <td>
                                <a class="btn btn-primary" href="/stock/tagedit/{{ tag.id }}"><i
                                        class="fa fa-pencil-square-o"></i></a>
                                <a class="btn btn-primary" href="/stock/tagdelete/{{ tag.id }}"><i
                                        class="fa fa-trash-o"></i></a>
                            </td>
                        </tr>
                        </tbody>

                        {% endfor %}
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}

